@charset "ISO-8859-1";

h1 {
	float: left;
	font-family: cursive;
	margin: 0 70px;
	
	padding: 200px 50px;
	background: rgb( 5, 25, 56);
	color: white;
	border-radius: 12px;
	text-shadow: 3px 3px 2px black;
	opacity: 0.7;
}

.dados1 {
	margin-top: 50px;
	margin-right:50px;
	margin-left: -10px;
	border-bottom-right-radius:12px;
	border-top-right-radius: 12px;
	float: center;
	background-color: rgb(243, 231, 237);
	animation-name: dadosumani;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	box-shadow: 2px 2px gray;
}

@keyframes dadosumani {
	0% {margin-right: 400px;}
	50% {margin-right: 10px;}
	100% {margin-right: 50px;}
}